





main{
    display: inline-block;
    vertical-align: top;
}
main .content{
    background:white;
    margin:1em;
    padding:.5em;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}


main .content h1{
    font-weight: 400;
}