dialog{
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 100% !important;
    max-height: 100% !important;
    top: 0;
    left: 0;
    border: none;
    background: rgba(0,0,0,.3);
    padding: 0;
    z-index: 990;
    overflow: auto;

    -moz-box-pack: center;
    -moz-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: -moz-box !important;
    display: -webkit-box !important;
    display: box !important;
    box-pack: center;
    box-align: center;
    visibility: hidden;
    opacity:0;
    transition:opacity .5s ease;
}

dialog.open{    
  visibility: visible;
  opacity:1;
  transition:opacity .5s ease;
}

dialog .title{
  margin: 0 .5em;
}

dialog form ul li:last-child{
  margin-bottom:0;
}

dialog div.heading{
  color: #212121;
  padding: 1em 3.6em .8em 1em;
  font-size: 1.3em;
  position: relative;
}
dialog div.heading  a.close{
  position: absolute;
  right: 0;
  top: 0;
  width: 1.5em;
  height: 1.5em;
  margin: .8em 1.1em ;
  border-radius: 100%;
  border:solid 2px transparent;
  cursor: pointer;
  transition:background .3s ease;
}
dialog div.heading  a.close:hover{
  background:rgba(0,0,0,.1);
  transition:background .3s ease;
}
dialog div.heading  a.close:focus,
dialog div.heading  a.close:active{
  background:rgba(0,0,0,.1);
  border:solid 2px rgba(0,0,0,.2);
  transition:all .3s ease;
}

dialog div.heading  a.close::before,
dialog div.heading  a.close::after{
  content:"";
  position: absolute;
  width: 1em;
  height: 1px;
  left: .2em;
  top: .65em;
  background:rgb(100,100,100);
  transform: rotate(45deg);
}

dialog div.heading  a.close::after{
  transform: rotate(-45deg);
}

dialog > div{
    background: white;
    width: max-content;
    max-width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    margin:auto;
    border-radius: 3px;
    overflow: hidden;
    transform:scale(0);
    transition: transform .5s ease;
}
dialog.open > div{
  transform:scale(1);
  transition: transform .5s ease;
}

dialog div.content{
  color:#5f6368;
  padding:0 1.5em;
  font-size: .9em;
  letter-spacing: .2px;
  line-height: 20px;
  width:100%;

  margin:0;
  box-shadow: unset;
  height: auto;
}

dialog form p{
  margin:0 !important;
}


dialog form div.buttons{
  padding:1em 0;
}

dialog form{
  margin: 0;
}


dialog a[close]{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


/* Message */
dialog#d_message p{
  margin:revert;
  font-family: 'Open Sans', sans-serif;
}
/* Message */


/* Loading */
dialog.loading::after{
    content: "";
    width: 3em;
    position: absolute;
    height: 3em;
    background: black;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
    top: calc(50% - 1.5em);
    left: calc(50% - 1.5em);
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
/* Loading */







dialog h3{
  margin:.3em 0 .7em 0;
}

.custombox-content.custombox-open{
    background:rgba(0,0,0,.3);
}