

header{
    display: inline-block;
    background:white;
    height: 100vh;
    box-shadow: 0 0 5px rgba(0,0,0,.9);
}

header ul{
    padding:0;
    margin:0;
    color:rgba(0,0,0,.8)
}

header ul div.logo{
    padding:1em;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
header ul div.logo .icon{
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    background:black;
}
header ul div.logo span{
    margin-left:1em;
    font-weight: bold;
}


header ul div.sub-title{
    padding:0 1em;
    text-transform: capitalize;
}
header ul div.sub-title h4{
    margin:0;
    font-size: .8em;
    color:rgba(0,0,0,.6);
}
header ul div.sub-title.act h4{
    color:rgba(0,0,0,.9);
}






header ul li.act a{
    font-weight: bold;
    pointer-events: none;
    color:rgba(0,0,0,1);
}
header ul li a{
    padding:1em;
    display: block;
    transition: color .2s ease;
    color:rgba(0,0,0,.55);
    text-decoration: none;
}

header ul li:hover a{
    color:rgba(0,0,0,.9);
    transition: color .2s ease;
}

header ul hr{
    width: calc(100% - 2em);
    border:none;
    height: 1px;
    margin:0 auto;
    margin-bottom:1em;
    background:rgba(0,0,0,.1);
}
header ul hr.noMargin{
    margin:0 auto;
}


