

header{
    display: inline-block;
    background:white;
    border-right: solid 1px rgba(0,0,0,.1);

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    transition: left .3s ease;
}

/*---------------------------------------------*/
input.header{
    display:none;
}
input.header + label{
    width: 2em !important;
    height: 1.6em !important;
    position: fixed;
    right: 1em;
    top:1em;
    padding:0!important;
    z-index: 3;
    visibility: hidden;
    cursor: pointer;
}
input.header + label::before,
input.header + label::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color:#0d6efd;
    
    transform:rotate(0deg);
    transition:transform .2s ease;
}
input.header + label::after{
    bottom:0;
}
input.header + label hr{
    position: absolute;
    bottom:-.3em;
    width: 100%;
    height: 3px;
    background-color:#0d6efd !important;
    opacity: 1;
    transition:opacity .2s ease;
}
input.header:checked + label + header{
    left:0;
    transition:left .3s ease;
}

input.header:checked + label hr{
    opacity: 0;
    transition:opacity .2s ease;
}
input.header:checked + label::before{
    transform:rotate(45deg);
    bottom:.6em;
    transition:transform .2s ease;
}
input.header:checked + label::after{
    transform:rotate(-45deg);
    bottom:.6em;
    transition:transform .2s ease;
}
/*---------------------------------------------*/


header ul{
    padding:0;
    margin:0;
    color:rgba(0,0,0,.8)
}

header ul div.logo{
    padding:1em;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
header ul div.logo .icon{
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    background:black;
}
header ul div.logo span{
    margin-left:1em;
    font-weight: bold;
}


header ul div.sub-title{
    padding:0 1em;
    text-transform: capitalize;
}
header ul div.sub-title h4{
    margin:0;
    font-size: .8em;
    color:rgba(0,0,0,.4);
}
header ul div.sub-title.act h4{
    color:rgba(0,0,0,.9);
    font-weight: 600;
}

header ul li a.act{
    color:rgba(0,0,0,.7);
    font-weight: 600;
    pointer-events: none;
}






header ul li.act a{
    font-weight: bold;
    pointer-events: none;
    color:rgba(0,0,0,1);
}
header ul li a{
    padding:1em;
    display: block;
    transition: color .2s ease;
    color:rgba(0,0,0,.55);
    text-decoration: none;
}

header ul li:hover a{
    color:rgba(0,0,0,.9);
    transition: color .2s ease;
}

header ul hr{
    width: calc(100% - 2em);
    border:none;
    height: 1px;
    margin:0 auto;
    margin-bottom:1em;
    background:rgba(0,0,0,.1);
}
header ul hr.noMargin{
    margin:0 auto;
}


@media (max-width: 768px){
    input.header + label{
        visibility: visible;
    }
    header{
        left:-100%;
    }
}