@import "fonts.css";

body{
    font-family: 'Roboto';
    margin:0;
    position: relative;
    display: flex;
}
main{
    display: inline-block;
    vertical-align: top;
    overflow: auto;
    width: 100%;
    flex-grow: 1;
    max-height: 100vh;
}
main .content{
    width: calc(100% - 3em);
    background:white;
    margin:1em;
    padding:.5em;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}

hr{
    border:none;
    height: 1px;
    background:rgba(0,0,0,.1);
    margin:0;
    margin-top:.6em
}

main .content h1{
    font-weight: 400;
}