div.photo{
    text-align: center;
}

div.photo img{
    width: 10em;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    background:rgba(0,0,0,.1);
}


div.photo img.notFound{
    width: 9em;
    padding:1em;
}